* {
  font-family: "Fira Code";
  font-weight: bold;
  font-size: 12px;
}

#pulseaudio,
#custom-power_btn {
  font-family: "Iosevka NF";
}

window#waybar {
  background: #284461;
  border-radius: 20px;
}
